.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d0d9dc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    height: 80px;
    color: #647c87;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.container:hover{
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-size: 20px;
}
.date{
    font-size: 13px;
}
.options_container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.options{
    display: flex;
    gap: 15px;
}
.icon_container{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.icon{
    width: 25px;
    height: 25px;
}
.icon_container .tooltiptext {
  visibility: hidden;
  text-wrap: nowrap;
  width: auto;
  background-color: rgb(32, 32, 32);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -40px;
}

.icon_container .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.icon_container:hover .tooltiptext {
  visibility: visible;
}
.icon_container:hover{
    background-color: #edeff1;
    border-radius: 5px;
}

.statistics_container{
    display: flex;
    gap: 15px;
    margin-right: 8px;
}

.statistics{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.icon_small{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}