.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: 600;
}
.btn{
    
}
.tags{
    display: flex;
    align-items:start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    padding: 30px;
    border-radius: 5px;
    // border: 1px solid #d0cdcd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 400px;
    background-color: white;
}