.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title{
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: 700;
}

.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.tag{
    font-size: 13px;
    padding: 5px;
}

.tag:hover {
  cursor: pointer;
//   font-size: 16px;
//   font-weight: 600;
//   color: #fe331c;
//   text-decoration: underline;
  background-color: bisque;
  border-radius: 3px;
}

.icon{
    height: 20px;
    width: 20px;
}