.container{
    display: flex;
    align-items: center;
    gap:5px;
    padding:3px 0px 3px 20px;
    cursor: pointer;
    color: #a2aec6;
    // font-size: 14px;
    border-radius: 4px;
    // width: 200px;
    width: 90%;
    height: 50px;
}

.active{
    background-color: #2d4070;
    color: #e9fdff;
}

.container:hover{
    background-color: #2d4070;
    color: #e9fdff;
}

.icon{
    width: 30px;
    height: 30px;
}

.title{
    
    line-height: 50px;
    font-size: 18px;
}
