.container {
  // margin: 50px;
  // width: 100%;
  // position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  
}

.header {
  // width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  height: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #5486e5;
  color: white;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
}

.total {
  font-size: 16px;
  font-weight: 600;
}

.bloglist {
  // width: 80%;
  // align-self: center;
}

.modal {
  pointer-events: all;
  opacity: 1;
}

.disabled{
    opacity: 0.3;
    pointer-events: none;
}
