.container {
  padding: 0px 20px 20px 0px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}
.title {
  color: #9d3a0b;
}

.content_container {
//   width: 12rem;
//   height: 12rem;
//   padding: 1rem;
//   margin: 3rem;
//   padding-bottom: 5rem;
//   background-color: lightgreen;
}

.content {
  width: 100%;
  color: black;
  margin-bottom: 20px;
  // display:-webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.info_container {
  font-size: 12px;
  display: flex;
  gap: 15px;
  padding: 5px;
  background-color: #eee9dd;
}
.info {
  color: #666555;
}
.tag {
  margin-right: 5px;
}

.tag:hover {
  cursor: pointer;
  color: #fe331c;
  text-decoration: underline;
}
