.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title{
  font-weight: 600;
  margin-bottom: 20px;
}
.filter_container{
  margin-left: 150px;
}

.filter{
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: max-content;
  outline: none;
  // margin: 0px;
}

.comments{
  width: 100%;
}