.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.title {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.content {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btns{
  align-self: flex-end;
  display: flex;
  gap: 10px;
}
